*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #87CEFA;
    color: #fff;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
}

nav{
    color: #000;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

nav ul{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: #000;
}

body .img1, .img2{
   width: 650px;
   display: inline-block;
}

body h3{
    background-color: #fff;
    padding-bottom: 500px;
}

footer .titulo{
    background-color: #87CEFA;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
}

footer .descricao{
    background-color: #87CEFA;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 92px;
}